<div class="ui large inverted menu">
<%= link_to "Chatroom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
      <% if logged_in? %>
      <%= link_to "Log Out", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log In", login_path, class: "item" %>
        <% end %>
      </div>
    </div>
    <% if !logged_in? %>
    <div class="item">
    <%= link_to "Log In", login_path, class: "ui primary button" %>
    </div>
  <% end %>
  </div>
</div>
